/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  word-wrap: break-word; /* Prevents breaking words awkwardly */
  overflow-wrap: break-word;
}

a {
  color: #0077cc;
  text-decoration: none;
}
a:hover {
  color: #005fa3; /* Slightly darker shade for better hover effect */
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #155a9d;
  border-color: #124d88;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-pills .nav-link:hover {
  background-color: #155a9d;
  border-color: #124d88;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  background-color: #f8f9fa;
  border-top: 1px solid #e5e5e5;
}
