html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Ders bilgisi sola */
.info {
    text-align: left;
}

/* Refresh butonu sağa */
.refresh-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .refresh-btn:hover {
        background-color: #0056b3;
    }

/* Tablo */
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.attendance-table th, .attendance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.attendance-table th {
    background-color: #f2f2f2;
}

/* Renkler */
.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}
